<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Crear Animal</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div th:replace="~{fragments/side::menu}"></div>
    <h1>Crear Animal</h1>
    <form action="#"
        th:action="@{/animales/crear}"
        th:object="${animal}"
        method="post">

        <input type="text" th:field="*{id}" hidden>
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="name" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'invalid-feedback' : 'valid-feedback'"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>


        <label for="averageLife">Promedio de vida: </label>
        <input type="number" id="averageLife" name="averageLife" th:field="*{averageLife}" th:classappend="${#fields.hasErrors('averageLife')} ? 'invalid-feedback' : 'valid-feedback'"/>
        <span th:if="${#fields.hasErrors('averageLife')}" th:errors="*{averageLife}" class="error"></span>


        <label for="extinct">¿Extinto?</label>
        <input type="checkbox" id="extinct" th:field="*{isExtinct}" th:value="*{isExtinct}" />

        <a class="btn btn-secondary" th:href="@{/animales}">Volver</a>
        <input type="submit" value="Crear">
    </form>
</body>
</html>