<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div th:replace="~{fragments/side::menu}"></div>
    <main >
        <h1 th:text="${animal.name}"></h1>
        <ul>
            <li th:text="'Id: '+${animal.id}"></li>
            <li th:text="'Nombre: '+${animal.name}"></li>
            <li th:text="'Tiempo de vida promedio: '+${animal.averageLife}"></li>
            <li th:text="${animal.isExtinct}? 'Extinto' : 'No Extinto'"></li>
        </ul>

        </ul>
    </main>
</body>
</html>