<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div th:replace="~{fragments/side::menu}"></div>
    <h1>Hola Edit</h1>
    <form action="#"
          th:action="@{/animales/editar}"
          th:object="${animal}"
          method="post">

        <input type="text" th:field="${id}" hidden>
        <label for="name">Nombre: </label>
        <input type="text" id="name" th:field="${name}">

        <label for="avgLife">Promedio de vida: </label>
        <input type="number" id="avgLife" th:field="${averageLife}">

        <label for="extinct">¿Extinto?</label>
        <input type="checkbox" id="extinct" th:value="${isExtinct}">

        <input type="submit" value="Crear">
    </form>
</body>
</html>