<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary" th:fragment="menu">
    <ul class="nav gap-5">
        <li class="navbar-brand text-white">Animales App</li>
        <li><a class="nav-item text-white" href="/animales">Lista de Animales</a></li>
        <li><a class="nav-item text-white" href="/animales/crear">Crear Animal</a></li>
    </ul>
</nav>
</body>
</html>