<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary" th:fragment="menu">
    <ul class="nav gap-5">
        <li ><a class="navbar-brand text-white" href="/">Animales App</a></li>
        <li><a class="nav-item text-white" href="/animales">Animales</a></li>
<!--        <li><a class="nav-item text-white" href="/familias">Familias</a></li>-->
    </ul>
<div class="position-absolute top-0 end-0">
    <form th:action="@{/logout}" method="post">
        <input class="btn btn-outline-light text-light m-1" type="submit" value="Logout">
    </form>
</div>
</nav>
</body>
</html>